/* стили для заголовка сайта */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    padding: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* стили для основного содержимого страницы */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* стили для форм на страницах */
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* стили для футера */
footer {
    background-color: #F8F8F8;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #777;
}
