<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Egernik's Site</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Egernik's Site</h1>
      <nav>
        <a href="/">Главная</a>
        <a href="about">О сайте</a>
        <a href="login">Вход</a>
        <a href="register">Регистрация</a>
      </nav>
    </header>
    <main>
      <h2>Добро пожаловать на мой сайт!</h2>
      <p>Здесь вы найдете много интересной информации.</p>
    </main>
    <footer>
      <p>&copy; 2023 Egernik. Все права защищены.</p>
    </footer>
  </body>
</html>
